{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="jumbotron text-center my-4" >
  <div class="container my-4" style="margin-top: 30px;">
    <h1>About Us</h1>
    <p class="lead text-muted">We offer high quality bespoke custom carpets as per your requirements. We have worked on numerous hospitality, hotel, airport and villa and palace projects, and we collaborate with some of the most famous designers in the world. Our services include measurements, custom fit-outs, wall-to-wall carpeting, bespoke designing and installation services on request.</p>
    
  </div>
</section>
<div class="container my-4">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Introduction </h2>
      <p class="lead">achal amit & Company was established in 1946 as a manufacturer of Carpets and Rugs and started it's exports from 1975. Since then it has never looked back and the company’s progress graph has seen a rising trend. The company has registered multifold growth specifically during the last 3 decades and has achieved a remarkable status in the international market.</p>.

        
    </div>
    <div class="col-md-5">
      <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img src="{% static 'img/image8.jpg' %}" height="300" width="350" style="margin-left: 40px;">
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Business Idea </h2>
      <p class="lead">Our main focus is centred around our customer’s satisfaction with our quality & the most competitive price. We use the good quality rawmaterial which provides us an extra edge over our competitors. We believe in patient listening to our foreign customers which helps us in keeping pace with the latest trend in international market.
      achal amit & Co. is a well-organised outfit wherein duties and responsibilities are laid out in definable forms, both at our factory & the administrative office.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img src="{% static 'img/image11.jpeg' %}" height="300" width="350" style="margin-left: 30px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Research and Development </h2>
      <p class="lead">Innovation is our passion. Creating newness is our core weapon that helps to keep our presence in the international market round the year. Experiment with different kinds of yarn is a regular part of our R&D section which is managed by the expert inhouse designers as well as designers on contract.We have a test lab that adds to the accuracy and efficiency of our R&D section at very initial stage of product development.</p>

    </div>
    <div class="col-md-5">
      <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img src="{% static 'img/image10.png' %}" height="300" width="350" style="margin-left: 40px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  </div>
  </div>
</div>
{% endblock %}