{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
     <!-- START THE FEATURETTES -->

     <hr class="featurette-divider">

     <div class="row featurette my">
       <div class="col-md-7">
         <h2 class="featurette-heading">Introduction </h2>
         <p class="lead">achal amit & Company was established in 1946 as a manufacturer of Carpets and Rugs and started it's exports from 1975. Since then it has never looked back and the company’s progress graph has seen a rising trend. The company has registered multifold growth specifically during the last 3 decades and has achieved a remarkable status in the international market.</p>
       </div>
       
     </div>
 
     <hr class="featurette-divider">
 
     <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Business Idea </h2>
            <p class="lead">Our main focus is centred around our customer’s satisfaction with our quality & the most competitive price. We use the good quality rawmaterial which provides us an extra edge over our competitors. We believe in patient listening to our foreign customers which helps us in keeping pace with the latest trend in international market.

                achal amit & Co. is a well-organised outfit wherein duties and responsibilities are laid out in definable forms, both at our factory & the administrative office.</p>
          </div>
     </div>
 
     <hr class="featurette-divider">
 
     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">Research and Developement</h2>
         <p class="lead">Innovation is our passion. Creating newness is our core weapon that helps to keep our presence in the international market round the year. Experiment with different kinds of yarn is a regular part of our R&D section which is managed by the expert inhouse designers as well as designers on contract.We have a test lab that adds to the accuracy and efficiency of our R&D section at very initial stage of product development.</p>
       </div>
       
     </div>
 
     <hr class="featurette-divider">
 
     <!-- /END THE FEATURETTES -->
 
   </div><!-- /.container -->
 
</div>
{% endblock %}