{% extends 'index.html'%}
{% load static %}
{% block content %}

  <main role="main">

    <section class="jumbotron text-center my-4" >
      <div class="container my-4" style="margin-top: 30px;">
        <h1>Infrastructure</h1>
        <p class="lead text-muted">We have a world-class manufacturing setup in Agra, with 100% in-house production. Skilled weavers and artisans use their craft to create a wide and diverse product range and portfolio.
            Our product portfolio is unique since we have expertise in manufacturing both handmade and machine-made rugs and carpets with high quality at globally competitive costs.
            We have numerous social compliance and social security certifications, which include Sedex SMETA, OEKO-TEX, AEO, SCAN among others</p>
        
      </div>
    </section>
  
   
  
  </main>

{% endblock %}